// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.organized-events {
    width: 49.4%;
    float: left;
}

.entered-events {
    width: 49.4%;
    float: right;
    padding: 0.4em;
}